.background {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0BHRwCu0iqCOEle3k2AmCroxzZNdJ7YEd7w&usqp=CAU'
        );
}

#all-movies {
    .tab__btns {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tab__btn {
        position: relative;

        flex-grow: 1;

        padding: 1rem;
        border: none;
        color: #333;
        text-transform: uppercase;
        cursor: pointer;
        opacity: 0.7;
    }

    .tab__btn:hover,
    .tab__btn--active {
        opacity: 1;
    }

    .tab__btn::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(to right, orangered, orange);

        transform-origin: center top;
        transform: scaleY(0);
        transition: transform 0.5s ease-in-out;
        opacity: 1;
    }

    .tab__btn:hover::before {
        transform: scaleY(1);
    }

    .tab__btn span {
        position: relative;
        z-index: 2;

        padding: 0;
        margin: 0;

        transition: color 1.5s ease-in;
    }

    .tab__btn:not(.tab__btn--active):hover span {
        color: white;
    }

    .tab__btn--active::before {
        content: '';
        min-height: 1rem;
        background-image: linear-gradient(to right, orangered, orange);
        transform: scaleY(1);
    }

    .tab__item {
        position: absolute;

        display: none;
        width: 100%;
        padding: 20px;
        font-size: 14px;

        animation: fadeEffect 2.5s ease-in;
    }

    .tab__item--active {
        display: block;
    }

    @keyframes fadeEffect {
        from {
            opacity: 0;
            transform: translateY(30px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

}