$base-color: #101010;

@import url('./Border.css');
@import url('./Flex.css');
@import url('./Margin.css');
@import url('./Padding.css');
@import url('./Text.css');
@import url('./Width.css');
@import url('./Float.css');


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ccc #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ccc;
}