.d_flex {
    display: flex;
}

.d_none {
    display: none;
}

.d_block {
    display: block;
}

.d_inline {
    display: inline;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.inline-block {
    display: inline-block;
}

.jus_center {
    justify-content: center;
}

.jus_start {
    justify-content: start;
}

.jus_end {
    justify-content: end;
}

.jus_space {
    justify-content: space-between;
}

.jus_around {
    justify-content: space-around;
}

.jus_evenly {
    justify-content: space-evenly;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-grow-5 {
    flex-grow: 5;
}

.align_center {
    align-items: center;
}

.align_start {
    align-items: flex-start;
}

.align_end {
    align-items: flex-end;
}

.flex_col {
    flex-direction: column;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex-gap-1 > * {
    padding: 0.8rem 0 0 0.8rem;
}

.flex-gap-1 {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -0.8rem 0 0 -0.8rem;
    width: calc(100% + 0.8rem);
}

.flex-gap-2 > * {
    padding: 1.125rem 0 0 1.125rem;
}

.flex-gap-2 {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -1.125rem 0 0 -1.125rem;
    width: calc(100% + 1.125rem);
}