.m_auto {
    margin: auto;
}

/* Margin theo rem */
.m_1 {
    margin: 0.75rem;
}

.m_2 {
    margin: 1rem;
}

.m_3 {
    margin: 1.5rem;
}

.m_4 {
    margin: 2rem;
}

.m_5 {
    margin: 2.5rem;
}

/* Margin-top theo rem */

.m_1-t {
    margin-top: 0.75rem;
}

.m_2-t {
    margin-top: 1rem;
}

.m_3-t {
    margin-top: 1.5rem;
}

.m_4-t {
    margin-top: 2rem;
}

.m_5-t {
    margin-top: 2.5rem;
}

/* Margin-bottom theo rem */

.m_1-b {
    margin-bottom: 0.75rem;
}

.m_2-b {
    margin-bottom: 1rem;
}

.m_3-b {
    margin-bottom: 1.5rem;
}

.m_4-b {
    margin-bottom: 2rem;
}

.m_5-b {
    margin-bottom: 2.5rem;
}

/* Margin-left theo rem */

.m_1-l {
    margin-left: 0.75rem;
}

.m_2-l {
    margin-left: 1rem;
}

.m_3-l {
    margin-left: 1.5rem;
}

.m_4-l {
    margin-left: 2rem;
}

.m_5-l {
    margin-left: 2.5rem;
}

/* Margin-right theo rem */

.m_1-r {
    margin-right: 0.75rem;
}

.m_2-r {
    margin-right: 1rem;
}

.m_3-r {
    margin-right: 1.5rem;
}

.m_4-r {
    margin-right: 2rem;
}

.m_5-r {
    margin-right: 2.5rem;
}

/* padding only y-axis */
.my_1 {
    margin: 0.5rem 0;
}

.my_2 {
    margin: 1rem 0;
}

.my_3 {
    margin: 1.5rem 0;
}

.my_4 {
    margin: 2rem 0;
}

.my_5 {
    margin: 2.5rem 0;
}

/* margin only x-axis */
.mx_1 {
    margin: 0 0.5rem;
}

.mx_2 {
    margin: 0 1rem;
}

.mx_3 {
    margin: 0 1.5rem;
}

.mx_4 {
    padding: 0 2rem;
}

.mx_5 {
    padding: 0 2.5rem;
}