.w_25 {
    width: 25%;
}

.w_33 {
    width: calc(100% / 3);
}

.w_50 {
    width: 50%;
}

.w_75 {
    width: 75%;
}

.w_100 {
    width: 100%;
}

.gap-1 {
    gap: 0.75rem
}

.gap-2 {
    gap: 1.125rem
}

.gap-3 {
    gap: 1.5rem
}