#pageNotFound {
    .err {
        color: #333;
        font-size: 1.5rem;
    }

    .err h2 {
        font-size: 8rem;
    }

    a {
        color: orange;
    }
}

#server-error {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://github.githubassets.com/images/modules/site/home-campaign/bg-stars-1.webp);
    background-color: #181818;
    color: lavender;

    & > div {
        min-height: 50vh;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 3rem;
    }
}