.successful > div.py_5 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.sucHead {
    overflow: hidden;
}

.sucContent {
    h1 {
        margin-bottom: 20px;
    }

    p {
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    a {
        display: block;
        margin: auto;
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 5px;
        padding: 12px;
        width: fit-content;
        color: black;
        background-color: limegreen;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    .sucImg {
        margin-top: 20px;
        height: 100px;
        position: relative;

        .ball {
            background: url('https://i.pinimg.com/236x/56/2d/4e/562d4ecb1af3b0d9eb62c534a036d39f.jpg');
            background-size: cover;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: absolute;
            animation: example 8s ease-in infinite;
            animation-delay: 2s;
        }

        .ball2 {
            background: url('https://upload.wikimedia.org/wikipedia/commons/7/79/Mangekyou_Sharingan.png');
            background-size: contain;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: absolute;
            animation: back 8s ease-in infinite;
            animation-delay: 2s;
        }

        .ball3 {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Mangekyou_Sharingan_Madara.svg/800px-Mangekyou_Sharingan_Madara.svg.png');
            background-size: contain;
            left: 45%;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: absolute;
            animation: stand 5s infinite;
            animation-delay: 2s;
        }

        @keyframes stand {
            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }

        @keyframes back {
            0% {
                right: 0;

                // top: 0;
            }

            50% {
                right: 92%;
            }

            100% {
                right: 0;
            }

            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }

        @keyframes example {
            0% {
                left: 0;

                // top: 0;
            }

            50% {
                left: 92%;
            }

            100% {
                left: 0;
            }

            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }
    }
}

.successful {
    background: url('https://www.designbolts.com/wp-content/uploads/2012/11/Trippy-little-Black-gradients-Seamless-Pattern.jpg');
    color: white;

    .icon-check {
        padding: 8px 0;
        background-color: #d4edda;
        overflow: hidden;
    }
}