.movie-card {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgba($color: #202020, $alpha: 0.3);
    border-radius: 0.5rem;

    img {
        border-radius: 0.5rem 0.5rem 0 0;
        width: 100%;
    }

    &  div {
       padding: 0.5rem; 
    }

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 19.6px;
    }

    &:hover {
        img {
            cursor: pointer;
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        h3 {
            color: orange;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

    }
}

.movie-card img {
    -webkit-transform: scale(1);
    transform: scale(1);
}