.backGroundPro {
    color: white;

    .mainSizePro {
        h2 {
            width: fit-content;
            border-bottom: 2px solid orange;
        }

        .promotion-card {
            width: 20%;
            overflow: hidden;
            position: relative;

            img {
                border-radius: 12px;
            }

            &>div {
                position: absolute;
                top: 50%;
                width: 100%;
                visibility: hidden;
            }

            &:hover {
                img {
                    cursor: pointer;
                    filter: opacity(0.8);
                }

                &>div {
                    visibility: visible;
                }
            }

            button {
                color: white;
                background-color: orange;
                border: none;
                padding: 12px 20px;

                &:hover {
                    cursor: pointer;
                    background-color: darkorange;
                    transition: ease-in-out .2s;
                }
            }
        }
    }
}