* {
    margin: 0;
    padding: 0;
}

.MainLogin {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://github.githubassets.com/images/modules/site/home-campaign/bg-stars-1.webp);
    background-color: #1c1c1c;

    .Behide_Log {
        position: relative;
        width: 35%;
        height: 80%;
        background-color: #1c1c1c;
        border-radius: 10px;
        overflow: hidden;

        .LoginForm {
            // padding-top: 30px;
            position: absolute;
            z-index: 9;
            inset: 2px;
            background: #F8F8F8;
            border-radius: 10px;

            .LoginForm_BTN {
                width: 70%;
                height: 10%;
                padding: 5px;
                margin: 5px auto;
                border-radius: 30px;
                align-items: center;
                background: #F8F8F8;
                display: flex;
                justify-content: space-between;
                box-shadow: 0 0 20px 9px #ff61241f;
                position: relative;

                .BackgrondBtn {
                    position: absolute;
                    top: 0;
                    width: 50%;
                    height: 100%;
                    background: linear-gradient(to right, #ff105f, #ffad06);
                    border-radius: 30px;
                    transition: 1s;
                    animation: noneToBl 2s ease-in;
                }

                button {
                    padding: 10px 30px;
                    cursor: pointer;
                    background: transparent;
                    border: 0;
                    outline: none;
                    position: relative;

                }

            }

            .TheLoginForm {
                height: 90%;
                width: 100%;

                border-radius: 10px;
                animation: noneToBl ease-in 1s;

                h1 {
                    text-align: center;
                    color: #FEDA15;
                    margin-bottom: 30px;
                }

                .LoginContent {
                    width: 80%;
                    margin: 4rem 0;
                    border-radius: 10px;

                    input {
                        width: 100%;
                        padding: 8px;
                        margin-top: 4px;
                        font-weight: 600;
                        font-size: 18px;
                        border: none;
                        border-bottom: 2px solid firebrick;
                        outline: none;
                        transition: 1s;
                        animation: noneToBl ease-in 1s;

                        &:focus {
                            background-color: #FEDA15;
                            border-bottom: 2px solid transparent;
                            border-radius: 8px;
                        }
                    }

                    .i {
                        width: 100%;
                        height: 2px;
                        margin-bottom: 10px;
                        background-color: #1c1c1c;
                        animation: noneToBl ease-in 1s;
                    }

                    .checkbox {
                        width: 20px;
                    }

                    .Forgot {
                        display: block;
                        float: right;
                        text-decoration: none;
                        text-align: end;
                        margin-bottom: 10px;
                    }

                    button {
                        padding: 10px 5px;
                        cursor: pointer;
                        border: 0;
                        background-color: gold;
                    }
                }
            }

            .TheRegisterForm {
                height: 90%;
                width: 100%;
                border-radius: 10px;
                animation: noneToBl ease-in 1s;

                // background-color: green;
                h1 {
                    text-align: center;
                    color: #FEDA15;
                    // margin-bottom: 30px;
                }

                .RegisterContent {
                    width: 80%;
                    margin: auto;
                    border-radius: 10px;

                    // background-color: white;
                    input {
                        width: 100%;
                        padding: 4px 8px;
                        margin-top: 4px;
                        box-sizing: border-box;
                        font-weight: 600;
                        font-size: 18px;
                        border: none;
                        border-bottom: 2px solid firebrick;
                        outline: none;
                        background: transparent;
                        transition: 1s;
                        animation: noneToBl ease-in 1s;

                        &:focus {
                            background-color: #FEDA15;
                            border-bottom: 2px solid transparent;
                            border-radius: 8px;
                        }
                    }

                    .i {
                        width: 100%;
                        height: 2px;
                        margin-bottom: 10px;
                        background-color: #1c1c1c;
                        animation: noneToBl ease-in 1s;
                    }

                    .checkbox {
                        width: 20px;
                    }

                    .Forgot {
                        display: block;
                        float: right;
                        // margin-bottom: 10px;
                        text-decoration: none;
                        color: black;
                    }

                    button {
                        padding: 10px 5px;
                        cursor: pointer;
                        border: 0;
                        background-color: gold;
                    }
                }
            }
        }
    }

    .Behide_Log::before {
        top: -50%;
        left: -50%;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, transparent,
                #00CDFF, #00CDFF);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }

    .Behide_Log::after {
        top: -50%;
        left: -50%;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, transparent,
                #00CDFF, #00CDFF);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }
}

// mobile phone
@media only screen and (max-width: 480px) {
    .MainLogin .Behide_Log {
        width: 96%;
    }
}

// tablet
@media only screen and (max-width: 992px) {
    .MainLogin .Behide_Log {
        width: 67%;
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes noneToBl {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}