.backgroundsize {
    width: 100%;
    // height: 100vh;

    .mainSizeRule {
        // background-color: #8b8585;

        .infor {
            padding-top: 20px;
            height: 100%;
            width: 70%;
            // background-color: red;

            .facerule {
                width: 85%;
                height: 300px;
                background: url('https://www.thebulletin.be/sites/default/files/cinema.jpg');
                background-size: contain;
                // background-position-x: -50px;
                // background-position-y: -140px;
                background-repeat: no-repeat;


            }

            div{
                p{
                    margin-bottom: 20px;
                }
            }
        }

    }
}