.bookingMainSize {
    background-image: url('../../Assets/Images/vecteezy_scenery-galaxy-background_.jpg');
    background-size: cover;

    .bookingSize {
        .bookingDetail {
            padding-top: 20px;
            display: grid;
            grid-template-columns: 75% 25%;

            .bookingDetial_content {
                table.bookingTable {
                    width: 100%;
                    border-collapse: collapse;
                }

                .tableLs {
                    font-weight: 500;
                    padding: 12px;
                    height: 100%;

                    img {
                        width: 25%;
                        aspect-ratio: 1.5;
                    }
                }

                thead {
                    background-color: firebrick;
                    color: white;
                    padding: 12px;
                    text-align: center;
                }

                tbody {
                    background-color: white;

                    input {
                        width: 48px;
                        margin: 0 4px;
                        font-size: 1.2rem;
                        text-align: center;
                        padding: 4px 2px;
                        border-radius: 8px;
                        border: 1px solid silver;
                    }
                }
            }

            .fIcon {
                &:hover {
                    cursor: pointer;
                    color: #555;
                    transition: ease-in 200ms;
                }
            }
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    }

    .modal-dialog {
        background-color: darkorange;
        position: absolute;
        top: 10rem;
    }
}

.error-msg {
    color: orangered;
    font-size: 0.75rem;
    height: 1rem;
}